<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Package Name="RoboTransfer" Manufacturer="RoboTransfer Qualification Publisher" Version="0.4.0" UpgradeCode="6B57CE8B-5038-4AE2-A7E2-03794E477042" Scope="perMachine" InstallerVersion="500" Compressed="yes">
    <SummaryInformation Description="RoboTransfer controlled qualification build" Manufacturer="RoboTransfer Qualification Publisher" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of RoboTransfer is already installed." Schedule="afterInstallInitialize" />
    <MediaTemplate EmbedCab="yes" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="RoboTransfer" />
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="RoboTransfer">
        <Component Id="StartMenuShortcut" Guid="B57D1021-99BC-46CF-8145-C17DDC6AAB48">
          <Shortcut Id="ApplicationStartMenuShortcut" Name="RoboTransfer" Description="RoboTransfer migration qualification application" Target="[INSTALLFOLDER]RoboTransfer.exe" WorkingDirectory="INSTALLFOLDER" />
          <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
          <RegistryValue Root="HKLM" Key="Software\RoboTransfer" Name="Installed" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <Feature Id="ProductFeature" Title="RoboTransfer" Level="1">
      <Files Directory="INSTALLFOLDER" Include="$(PublishDir)\**" />
      <ComponentRef Id="StartMenuShortcut" />
    </Feature>
  </Package>
</Wix>
